SAVE_PATH = "~/Pictures"

API_KEY = ""
HEADERS = {"User-Agent": "Python Comic Vine Random Image Client"}
NEW_COMIC_PLEASE = ".new.comic.please"

PROCESS_IMAGE=True
PAD_IMAGE=True
DEDUPE=True
HISTORY_SIZE=365

# Defaults to natural if None
PROCESS_IMAGE_INTENT = None
# Runs PIL quantize if None and PROCESS_IMAGE is True
PROCESS_IMAGE_PRESET = "auto"

SEARCH_QUERIES = [
    ("Volume", "2000 AD"),
    ("Volume", "Witchblade"),
    ("Character", "Jenny Sparks")
]

# Required for every volume search
RANDOM_VOLUME = {
    "2000 AD": False,
    "Witchblade": True,
}

# Advanced
# A bit of hack using SSH keys to have a pi zero on the frame
# and a more powerful Pi elsewhere processing the images and sending them
CACHE_PATH = ""
SERVER_MODE = None
CLIENT_MODE = None
CLIENT_PI=""
