
SAVE_PATH = "~/Pictures"

API_KEY = ""
HEADERS = {"User-Agent": "Python Comic Vine Random Image Client"}
NEW_COMIC_PLEASE = ".new.comic.please"

PROCESS_IMAGE=True
PAD_IMAGE=True
DEDUPE=True
HISTORY_SIZE=365

SEARCH_QUERIES = [
    ("Volume", "2000 AD"),
    ("Volume", "Witchblade"),
    ("Character", "Jenny Sparks")
]

# Required for every volume search
RANDOM_VOLUME = {
    "2000 AD": False,
    "Witchblade": True,
}
